/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --bg-color: #000028;
  --heading-color: #000028;
  --main-text-color: #F1B2CE;
  --main-heading-color: #DB00FF;
  --button-color: #FF0070;
  --button-hover-border: rgb(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-dark.png);
}